/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 6rem;
    margin-bottom: 80px;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* UTILITIES */
/* Flexbox */
.flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}

/* APP MAIN */
/* Numbers */
.numbers .box,
.user input[type="number"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Button */
.btn{
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.btn:hover,
.btn:focus{
    background-color: #888;
}

/* User Numbers */
.user input[type="number"]{
    border: 0;
}
.user input[type="number"]:disabled{
    color: #000;
}


.correct{
    background-color: rgb(16, 100, 16);
}
.uncorrect{
    background-color: rgb(167, 20, 20);
}