/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
}
h1{
    font-size: 6rem;
    margin-bottom: 80px;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* UTILITIES */
/* Flexbox */
.flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}

/* Button */
.btn{
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.btn:not([disabled="disabled"]):hover,
.btn:focus{
    background-color: #888;
}
.btn[disabled="disabled"]:hover{
    cursor: not-allowed;
}
.btn.btn-user{
    display: block;
    margin: 10px auto;
}

/* APP MAIN */
/* Numbers */
.numbers .box,
.user .user-num
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Timer */
.timer{
    font-size: 3.5rem;
}

/* Input Field */
.input-field{
    display: none;
}

/* User Numbers */
.user .user-num{
    text-align: center;
    border: 0;
}
.user .user-num:disabled{
    color: #000;
}
.user .user-num::-webkit-inner-spin-button, 
.user .user-num::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.user .user-num:out-of-range{
    background-color: yellow;
}
.user-num.correct{
    background-color: rgb(16, 100, 16);
}
.user-num.uncorrect{
    background-color: rgb(167, 20, 20);
}